<div class="first-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631247177/working_-_co%CC%81pia_j53udl.jpg); margin-top: none">
      <div style="margin-top:123px">
            <h1>Release your best</h1>
            <div class="slider-wrapper">
              <div class="slider">
                <div class="slider-text1">Descubra</div>
                <div class="slider-text2">Explore</div>
                <div class="slider-text3">Mostre</div>
              </div>
              <div>
                <h3>o potencial da sua guitarra</h3>
              </div>
            </div>
      </div>
</div>

<div class="products-section">
  <h1>Products</h1>
</div>

<div class="depositions">
  <h1>DEPOIMENTOS DE QUEM CONHECE</h1>
  <hr>
</div>
