<h1>I am Index products</h1>

<%# <%= simple_form_for [@products.id] do |f| %>
      <%# <%= f.input :review_content %> %>
      <%# <%= f.input :rating %> %>
      <%# <%= f.submit class: 'btn btn-primary my-3' %> %>
<%# <% end %> %> %>
